body
  &.loading
    #loading-overlay
      opacity: 1
      pointer-events: all

  &.drawer-open
    #drawer
      transform: translateY(0)
    #close-overlay
      pointer-events: all

.p-max-width
  p
    max-width: 550px

#drawer
  position: fixed
  top: 0
  right: 0
  width: 95vw
  height: 100vh
  overflow: scroll
  transform: translateX(150%)
  background-color: $color-black
  color: $color-white
  z-index: 400
  box-shadow: -50px 0px 200px 0px rgba(69, 79, 255, .3);
  transition: transform 500ms ease-in-out

.drawer-container
  width: 90%
  margin: 0 auto

#close-drawer
  position: fixed
  top: 15px
  right: 15px

#close-overlay
  position: fixed
  top: 0
  right: 0
  height: 100vh
  width: 100vw
  opacity: 0
  z-index: 300
  pointer-events: none

#light
  width: 80vw
  height: 800px
  background: transparent
  position:fixed
  z-index: 100
  top: 0
  left: -20vw
  mix-blend-mode: soft-light
  pointer-events: none
  transform-origin: 0% 50%
  opacity: .2
  svg
    height: 100%
    width: 100%

#loading-overlay
  position:fixed
  z-index: 200
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background-color: $color-grey-dark-trans
  opacity: 0
  transition: opacity .5s ease-in
  pointer-events: none

#loader
  width: 70px
  height: 70px
  border-top: 10px solid $color-blue
  border-right: 10px solid transparent
  border-radius: 70px
  animation: rotate 1s infinite linear

@keyframes rotate
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)
